<html>
  <head>
  </head>
  <body>
    <p>Hi,</p>
    <h3>Your Reset Token</h3>
    <h4>{{temp_token}}</h4>
    <p>This token below will remain active for {{period}} mins.</p>
    <p>Thanks</p>
  </body>
</html>